@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

* {
    overflow: hidden;
}

:root {
    --linkcolor: #FFACE4;
    --bg1: #121212;
    --bg2: #11111111;
}

#display {
    margin-left: 660px;
    width: 600px;
    height: 800px;
    background-color: var(--bg1);
}

select {
    text-align-last: center;
}

.dropdown {
    width: 384px;
    height: 75px;
    background-color: var(--bg1);
    border: none;
    color: var(--linkcolor);
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    float: left;
    text-align: left;
}

.dropdown-title {
    text-align: left;
}

.dropdown-option {
    color: white;
    font-size: 20px;
    text-align: left;
}

option:checked {
    color: var(--linkcolor);
}


option:disabled {
    color: #FFACE3;
}


#backBtn {
    width: 210px;
    height: 45px;
    color: var(--linkcolor);
    margin-top: 745px;
}

#statsImg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    height: -50%;
    width: 20%;
}

#itemName {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--linkcolor);
}

#resetBtn {
    width: 200px;
    height: 45px;
    margin-left: 68px;
}

.miscBtn:hover {
    background-color: #414141;
    transition: .25s;
}


/* FOR JS */

#statsContainer {
    height: 100px;
    width: 100px;
    background-color: black;
}