@import url("https://use.typekit.net/kji3kyb.css");

* {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    transition: .25s;
    font-size: 25px;
    padding-top: 8px;
    height: 40px;
    list-style: none;
}


a:hover {
    text-decoration: underline;
    transition: .25s;
}
