@import url("https://use.typekit.net/kji3kyb.css");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

* {
    overflow: hidden;
}

:root {
    --linkcolor: #FFACE4;
    --bg1: #121212;
    --bg2: #11111111;
}

#display {
    margin-left: 660px;
    width: 600px;
    height: 800px;
    background-color: var(--bg1);
}

.dropdown {
    width: 384px;
    height: 75px;
    background-color: var(--bg1);
    border: none;
    color: var(--linkcolor);
    font-size: 30px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    float: left;
}
.dropdown-option {

}