@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

* {
    overflow: hidden;
}

:root {
    --linkcolor: #FFACE4;
    --bg1: #121212;
    --bg2: #11111111;
}

option:disabled {
    color: #FFACE3;
}

#display {
    margin-left: 660px;
    width: 600px;
    height: 800px;
    background-color: var(--bg1);
}

.dropdown {
    width: 480px;
    height: 75px;
    background-color: var(--bg1);
    border: none;
    color: var(--linkcolor);
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    float: left;
    text-align: center;
}

.dropdown-title {
    text-align: left;
}

.dropdown-option {
    color: white;
    font-size: 20px;
    text-align: left;
}

option:checked {
    color: var(--linkcolor)
}

#backBtn {
    width: 195px;
    height: 45px;
    color: var(--linkcolor);
    margin-top: 745px;
}
.miscBtn:hover {
    background-color: #414141;
    transition: .25s;
}